import random
import os
i = 0
o = 0
CoolDown = []
while i == 0:
  File = input("What file would you like to open? ")
  exists = os.path.exists(File)
  if exists == True:  
    with open(File, "r") as listhandle:
      lines = listhandle.readlines()
      Skin = []
      Chroma = []
      
      
    for l in lines:
      as_list = l.split(", ")
      Skin.append(as_list[0])
      Chroma.append(as_list[1].replace("\n", " "))
    i+=1
  elif exists == False:
    print("This file doesn't exist")
x =  len(Skin)
y = x * 0.75
CDIndex = round(y, 0)
while i == 1:
  Enter = input("Press Enter: ")
  o = 0
  while Enter == "" and o == 0:
    decision = random.randrange(0, x)
    if Skin[decision] not in CoolDown:
      print(Skin[decision])
      CoolDown.append(Skin[decision])
      while len(CoolDown) >= CDIndex:
        del CoolDown[0]
      ChromaDecision = int(Chroma[decision])
      if ChromaDecision != 0:
        print(random.randrange(0, ChromaDecision))
    
      o+=1
